.App {
  text-align: center;
}

header {
  font-family: 'Permanent Marker';
  text-align: left;
  padding: 1rem;
  background: linear-gradient(to right, #d6d6d6, #b1b1b1, #d6d6d6);
  position: static;
  /* width: 100%; */
  top: 0;
  display: flex;
  justify-content: space-between;
}

header>h1>a {
  text-decoration: none;
  cursor: pointer;
}

.name-button{
  display: flex;
}

.login-button{
  border: black;
}

/* header>div>button, p {
  margin: 0 3rem;
} */


.body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}
.box{
width: 300px;
padding: 40px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: #191919;
text-align: center;
}
.box p{
color: white;
text-transform: uppercase;
font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
border:0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #3498db;
padding: 14px 10px;
width: 200px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
width: 280px;
border-color: #2ecc71;
}

.auth-button {
border:0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #2ecc71;
padding: 14px 40px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;
cursor: pointer;
}
.box input[type = "submit"]:hover{
background: #2ecc71;
}
